<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>727902788885-7ghcaug87vv8chkuhsk28b8o2uda0tbm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727902788885-7ghcaug87vv8chkuhsk28b8o2uda0tbm</string>
	<key>API_KEY</key>
	<string>AIzaSyDhSvTrBeNAyxdhNbC7wx_rm-ogX8SYfHk</string>
	<key>GCM_SENDER_ID</key>
	<string>727902788885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ufuk.JustAskIt</string>
	<key>PROJECT_ID</key>
	<string>justaskit-a1f89</string>
	<key>STORAGE_BUCKET</key>
	<string>justaskit-a1f89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727902788885:ios:225cf3d48b3e09b19c1d1c</string>
</dict>
</plist>